html {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #555;
}

h1 {
  font-size: 2.7rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
  line-height: 3.2rem;
}

h2 {
  font-size: 2.2rem;
  font-weight: 800;
  margin-bottom: 2rem;
  line-height: 3rem;
}

#featured {
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.4rem;
  font-weight: 800;
  line-height: 2rem;
  margin-bottom: 0.5rem;
}

.left {
  width: 60%;
}

.right {
  width: 40%;
}

/* Header */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 5;
}

header .content {
  padding: 1rem 1.5rem;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

header .logo-title {
  display: flex;
  align-items: center;
}

header .logo {
  height: 2rem;
}

header .title {
  font-size: 1.5rem;
}

.colmar {
  font-weight: bold;
}

nav ul {
  display: flex;
  padding: 0;
  margin-right: 0;
}

nav a {
  color: #555;
  font-weight: 500;
}

nav span {
  padding-left: 1rem;
}

.mobile-nav {
  display: none;
}

/* Banner */

.banner {
  position: relative;
  top: 4rem;
  background-color: #eee;
  display: flex;
  align-items: center;
}

.banner .image {
  padding: 2rem 1.5rem;
}

.banner .image img {
  width: 100%;
}

.banner .banner-text {
  padding-right: 3rem;
}

.banner .banner-text .button {
  width: 100%;
  background-color: #555;
  padding: 0.5rem 0;
  text-align: center;
  margin-top: 1.2rem;
  transition: all 700ms ease 200ms;
}

.banner .banner-text .button:hover {
  background-color: #3dc2ee;
  box-shadow: 2px 2px 10px;
}

.banner .banner-text .button a {
  color: #fff;
  font-weight: 500;
}


/*Featured & Info*/

.featured-info {
  position: relative;
  top: 4rem;
  display: flex;
}

.featured {
  width: 60%;
}

.featured .image {
  padding: 2rem 1.5rem;
}

.featured img {
  width: 100%;
}

.featured .text {
  padding: 0rem 1.5rem 2rem 1.5rem;
}

.featured span {
  font-size: 0.8rem;
  font-weight: 500;
}

.featured-info .info {
  width: 40%;
  padding: 1rem 0 2rem 0rem;
  border-left: 1px solid #f1f1f1;
}

.info-item {
  display: flex;
  align-items: center;
}

.orientation, .our-campus {
  border-bottom: 1px solid #f1f1f1;
}

.guest {
  background-color: #eee;
}

.info .image {
  width: 35%;
  padding: 1rem;
}

.info .image img {
  max-width: 100%;
  height: auto;
}

.info-item .text {
  padding: 0.5rem;
  width: 65%;
}

.text .details {
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}

.text a {
  font-size: 0.9rem;
  color: #3dc2ee;
  transition: color 200ms linear 150ms;
}

.text a:hover {
  color: #009ed2;
}
