html {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #666;
}

h1 {
  font-family: "Archivo Black", sans-serif;
  text-transform: uppercase;
  font-size: 2.7rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
  line-height: 3.2rem;
  color: #333;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 2.2rem;
  font-weight: 800;
  margin-bottom: 2rem;
  line-height: 3rem;
  color: #333;
}

h2#featured {
  margin-bottom: 1.5rem;
}

h3 {
  font-family: "Raleway", serif;
  font-size: 1.4rem;
  font-weight: 800;
  line-height: 2rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.left {
  width: 60%;
}

.right {
  width: 40%;
}


/* Header */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 5;
  box-shadow: 2px 2px 10px #555;
}

header .content {
  padding: 1rem 1.5rem;
  justify-content: space-between;
  display: flex;
  align-items: center;
  color: #111;
}

header .logo-title {
  display: flex;
  align-items: center;
}

header .logo {
  height: 2rem;
}

header .title {
  font-size: 1.5rem;
}

header .title a {
  font-weight: normal;
  color: #111;
}

a span.colmar {
  font-weight: bold;
}

nav ul {
  display: flex;
  padding: 0;
  margin-right: 0;
}

nav span {
  padding-left: 1rem;
}

nav a {
  color: #111;
  font-weight: 500;
  transition: all 400ms ease;
}

nav a:hover {
  color: #9271f6;
  letter-spacing: 1px;
}

nav .login a {
  color: #fff;
  padding: 0.7rem;
  background-color: #9271f6;
  border-radius: 1.5rem;
  transition: background-color 400ms ease;
}

nav .login a:hover {
  background-color: #09e1c0;
  letter-spacing: normal;
}

.mobile-nav {
  display: none;
}

@media only screen and (max-width: 750px) {
  .desktop-nav {
    display: none;
  }

  .mobile-logo {
    display: none;
  }

  .mobile-nav {
    display: flex;
    align-items: center;
  }

  .mobile-nav a {
    margin-left: 1rem;
  }

  .mobile-nav a img {
    transition: opacity 150ms ease;
  }

  .mobile-nav a:hover img {
    opacity: 0.5;
  }

}

@media only screen and (max-width: 480px) {
   header {
    height: 4rem;
  }

  .mobile-nav {
    justify-content: space-between;
    flex-grow: 1;
  }

  .mobile-logo {
    display: inline-flex;
  }

  header .logo-title {
    display: none;
  }
}


/* Banner */

.banner {
  position: relative;
  top: 4rem;
  background: linear-gradient(to bottom left, #fff , #f1f1f1);
  display: flex;
  align-items: center;
}

.banner .image {
  padding: 2rem 1.5rem;
}

.banner .image img {
  width: 100%;
  display: block;
}

.banner .banner-text {
  padding-right: 3rem;
}

.banner .banner-text .button {
  width: 100%;
  background-color: #09e1c0;
  padding: 0.8rem 0;
  text-align: center;
  margin-top: 1.2rem;
  box-shadow: 2px 2px 10px #666;
  border-radius: 1rem;
  transition: all 500ms ease;
}

.banner .banner-text .button:hover {
  letter-spacing: 1px;
}

.button i {
  display: none;
  transition: all 500ms ease;
}

.banner .banner-text .button:hover i {
  display: inline;
}

.banner .banner-text .button a {
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
}

@media only screen and (max-width: 900px) {
  .banner .left {
    width: 40%;
  }

  .banner .right {
    width: 60%;
  }

  .banner-text {
    padding-left: 1rem;
  }

  .banner h1 {
    font-size: 2.2rem;
    line-height: 2.5rem;
  }

  .banner h3 {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}

@media only screen and (max-width: 810px) {
  .banner h1 {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

  .banner h3 {
    display: none;
  }
}

@media only screen and (max-width: 680px) {
  .banner {
    flex-direction: column;
    align-items: baseline;
  }

  .banner .left {
    width: 100%;
  }

  .banner .image {
    padding: 0;
  }

  .banner .right {
    width: 100%;
    padding: 0;
  }

  .banner h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .banner h3 {
    display: block;
  }

  .banner .banner-text {
    padding: 2rem 1rem;
  }
}

/*Featured & Info*/

.featured-info {
  position: relative;
  top: 4rem;
  display: flex;
  background-color: #fff;
}

.featured .image-text {
  padding: 2rem 1.5rem;
}

.featured img {
  width: 100%;
}

.featured .text {
  padding-top: 2rem;
}

.featured span {
  font-size: 0.8rem;
  font-weight: 500;
}

.info {
  padding: 1rem 0 2rem 0rem;
}

.info-item {
  display: flex;
  align-items: center;
  opacity: 0.8;
  transition: all 400ms linear;
}

.info-item:hover {
  opacity: 1;
  box-shadow: 5px 5px 10px;
}

.guest {
  background-color: #7272ff;
  color: #fff;
}

.guest h3 {
  color: #fff;
}

.info .image {
  width: 35%;
  height: auto;
  padding: 1rem;
  overflow: hidden;
}

.info .image img {
  max-width: 100%;
  height: auto;
  display: block;
}

.info .image img.mobile {
  display: none;
}

.info-item .text {
  width: 65%;
  padding: 0.5rem;
}

.text .details {
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}

.text a {
  font-size: 0.9rem;
  font-weight: 500;
  color: #9271f6;
  transition: all 200ms linear 100ms;
}

.featured-info .text a:hover {
  letter-spacing: 4px;
  color: #09e1c0;
}

.guest .text a {
  color: #fff;
}

.guest .text a:hover {
  color: #fff;
}

@media only screen and (max-width: 900px) {
  .featured-info .featured.left {
    width: 40%;
  }

  .featured-info .featured.left img {
    display: none;
  }

  .featured .text {
    padding: 0;
  }

  .info.right {
    width: 60%;
  }

  .featured.left .details {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media only screen and (max-width: 800px) {
  .featured.left .details {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}

@media only screen and (max-width: 700px) {
  h2#featured {
    font-size: 1.5rem;
    line-height: 1.9rem;
  }
}

@media only screen and (max-width: 630px) {
  .featured-info .featured.left {
    display: none;
  }

  .info.right {
    width: 100%;
  }

  .info-item {
    opacity: 1;
  }

  .info-item .image {
    width: 20%;
  }

  .info-item:hover {
    box-shadow: 0 0;
  }

  .guest {
    background-color: #fff;
    color: #666;
  }

  .guest h3 {
    color: #333;
  }

  .guest .text a {
    color: #9271f6;
  }

  .guest .text a:hover {
    color: #09e1c0;
  }
}

@media only screen and (max-width: 480px) {
  .info {
    padding: 1rem 1rem 2rem 1rem;
  }

  .info-item {
    flex-direction: column;
    align-items: baseline;
  }

  .info-item.our-campus, .info-item.guest {
    padding-top: 4rem;
  }

  .info .image {
    width: 100%;
    padding: 0;
  }

  .info .image img.desktop {
    display: none;
  }

  .info .image img.mobile {
    display: block;
    width: 100%;
  }

  .info-item .text {
    padding-left: 1rem;
    padding-top: 1rem;
    width: auto;
  }
}


/*Courses Section*/

.learning {
  position: relative;
  top: 4rem;
  padding: 2rem 4.5rem;
  background-color: #f9f9f9;
}

.learning h2 {
  text-align: center;
  color: #7272ff;
}

.courses h3 {
  color: #7272ff;
}

.courses a {
  color: #666;
}

.courses {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.course {
  width: 30%;
  margin: 1rem;
  background: #fff;
  box-shadow: 5px 5px 15px #999;
  transition: all 300ms ease-in 150ms;
}

.course:hover {
  box-shadow: 0 0;
}

.course img {
  width: 100%;
}

.course-details {
  padding: 1rem;
}

.course-details .details {
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
}

@media only screen and (max-width: 1120px) {
  .course {
    width: 43%;
  }

  .course:hover {
    width: 45%;
  }
}

@media only screen and (max-width: 700px) {
  .course img {
    display: none;
  }

  .course p {
    font-size: 0.9rem;
  }

  .course:hover {
    width: 43%;
  }
}

@media only screen and (max-width: 630px) {
  .learning {
    padding: 2rem 1rem;
    background: #f1f1f1;
  }

  .learning h2 {
    margin-bottom: 0.5rem;
  }

  .courses {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .course {
    width: auto;
    margin: 0.5rem 0 0 0;
    box-shadow: 5px 5px 10px #666;
    transition: all 200ms ease-in 100ms;
  }

  .course:hover {
    width: auto;
    background-color: #7272ff;
    box-shadow: 0 0;
    border-radius: 2rem;
  }

  .course:hover h3 {
    color: #fff;
  }

  .course p {
    display: none;
  }

  .course h3 {
    color: #7272ff;
    margin-bottom: 0;
    transition: all 200ms ease-in 100ms;
  }

  .course-details {
    padding: 1rem 1rem 1.5rem 1rem;
  }
}


/*Thesis*/

.thesis {
  position: relative;
  top: 4rem;
  padding-top: 2rem;
}

.thesis-content {
  display: flex;
}

.thesis h2 {
  text-align: center;
  margin-bottom: 0;
}

video {
  width: 100%;
}

.thesis .right h3 {
  color: #9271f6;
  transition: all 200ms ease;
}

.thesis .right h3:hover {
  color: #09e1c0;
}

@media only screen and (max-width: 900px) {
  .thesis .left {
    width: 100%;
  }

  .thesis .image-text {
    padding: 1rem 0 1.5rem 0;
  }

  .thesis .info.right, .thesis .left .text {
    display: none;
  }
}


/*Footer*/

footer {
  position: relative;
  top: 4rem;
  padding: 1rem 1.5rem 5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  background-color: #f9f9f9;
}

footer p, footer span {
  font-size: 0.8rem;
}

@media only screen and (max-width: 900px) {
  footer {
    padding: 1rem;
  }

  footer nav {
    display: none;
  }
}
